*{
    margin: 0;
    box-sizing: border-box;
    font-size: 22px;
    color: white

}
body{
    background-color: rgb(2, 36, 57);
}

img
{
    width: 350px;
    border: 5px solid;
    border-radius: 25px;
    margin: 15px;
    
}
#blok1{
    float: left;
}
#blok2{
    float: left;
}

p{
    display: block;
    padding: 25px;
    
}